@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Satoshi", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

.font-instrument {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

@theme {
  --color-yellow-50: oklch(0.98 0.0195 87.51);
  --color-yellow-100: oklch(0.95 0.0535 88.36);
  --color-yellow-200: oklch(0.9 0.1056 87.86);
  --color-yellow-300: oklch(0.83 0.1532 81.16);
  --color-yellow-400: oklch(0.8 0.1599 74.04);
  --color-yellow-500: oklch(0.73 0.1699 59.06);
  --color-yellow-600: oklch(0.63 0.1671 49.15);
  --color-yellow-700: oklch(0.53 0.1572 41.4);
  --color-yellow-800: oklch(0.45 0.1339 39.32);
  --color-yellow-900: oklch(0.4 0.1122 39.22);
  --color-yellow-950: oklch(0.27 0.0786 38.6);

  --color-black-50: oklch(0.97 0 0);
  --color-black-100: oklch(0.93 0 0);
  --color-black-200: oklch(0.86 0 0);
  --color-black-300: oklch(0.76 0 0);
  --color-black-400: oklch(0.63 0 0);
  --color-black-500: oklch(0.53 0 0);
  --color-black-600: oklch(0.48 0 0);
  --color-black-700: oklch(0.43 0 0);
  --color-black-800: oklch(0.39 0 0);
  --color-black-900: oklch(0.36 0 0);
  --color-black-950: oklch(0.22 0 0);

  --color-fg: oklch(0.2103 0.0059 285.89);
  --color-bg:oklch(0.983 0.0195 87.51);
  --color-accent: oklch(0.83 0.1532 81.16);
  --color-secondary: oklch(0.4419 0.0146 285.79);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: var(--size-font);
  /* max-width: var(--size-container); */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-black-950);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-yellow-400);
}

/* ------------------------- Scaling System by Osmo [https://osmo.supply/] -------------------------  */
/* Desktop */
:root {
  --size-unit: 16; /* body font-size in design - no px */
  --size-container-ideal: 1440; /* screen-size in design - no px */
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --cubic-default: cubic-bezier(0.65, 0.05, 0, 1);

  --size-container: clamp(
    var(--size-container-min),
    100vw,
    var(--size-container-max)
  );
  --size-font: calc(
    var(--size-container) / (var(--size-container-ideal) / var(--size-unit))
  );
  
}
/* Tablet */
@media screen and (max-width: 991px) {
  :root {
    --size-container-ideal: 834; /* screen-size in design - no px */
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}
/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 834; /* screen-size in design - no px */
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}
/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 375; /* screen-size in design - no px */
    --size-container-min: 0px;
    --size-container-max: 479px;
  }
}

p{
  line-height: 120%;
}
button{
    font-size: clamp(1em, 20px, 1.25em);  
    font-weight: 700;
    text-transform: uppercase;
}

.menu-nav{ padding: 1.25rem 1.25rem 0 1.25rem;}

.menu-link a, .menu-link
{
  /* display: block; */
  position: relative;
  overflow: hidden;
}
.menu-link a,.menu-social a{
  display: block;
}
.menu-link a{
  /* font-size: clamp(48px, 4em, 6em); */
  /* font-size: min(4em, 48px); */
    will-change: transform;
    overflow: hidden;
}
.menu-social a{
  /* font-size: clamp(20px, 1.25em, 2em); */
  font-size: 1.25rem;
  /* font-size: 1.5em; */
    will-change: transform;
    transform: translateY(-100%);
}
/* .menu-link, .menu-social{
clip-path: polygon(0% 0%, 100% 0, 100% 100%, 0% 100%);  
} */

.menu-link-heading {
  z-index: 1;
  text-transform: uppercase;
  font-size: clamp(48px, 3.5em, 6em);
  /* font-size: min(4em, 48px); */
  font-weight: 900;
    line-height: 1;
    transition: transform .55s cubic-bezier(.65, .05, 0, 1);
    position: relative;
}

.menu-link-heading{ 
  text-shadow: 0px 1em 0px var(--color-bg); 
}
.menu-link-bg {
  z-index: 0;
  background-color: var(--color-fg);
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  transition: transform .55s cubic-bezier(.65, .05, 0, 1);
  position: absolute;
  inset: 0%;
  transform: scale3d(1, 0, 1);
}


.menu-overlay{top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100svh;
  /* height: 100vh; */
  background-color: var(--color-accent);
  z-index: 50;
  /* pointer-events: none; */
  scroll-behavior: none;
  clip-path: polygon(0% 0%, 100% 0, 100% 0%, 0% 0%);
  overflow: hidden;
}
.text-link{
    position: relative;
    /* display: inline-block; */
    text-decoration: none;
}
.text-link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: var(--color-fg);
    transform-origin: right center;
    transform: scale(0,1);
    transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
}

.text-link:hover::after{
    transform-origin: left center;
    transform: scale(1,1);
}


.line{
  overflow: hidden;
  transform: translateY(100%);
  will-change: transform;
}

.img-container{
    position: relative;
    overflow: hidden;
}    
.img-container img{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      /* height: 100%; */
      object-fit: cover;
      object-position: center;
    }

    .read-text{
      opacity: 1;
      transform: translateX(10em);
      transition: transform 0.3s cubic-bezier(0.83, 0, 0.17, 1);
    }


    .background{
      height: 100%;
      width: 100%;
      background-color: var(--color-accent);
      position: absolute;
      top: -100%;
      z-index: 1;
    }

  .background-outer{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    /* background-color: var(--color-accent); */
    z-index: 1;
    overflow: hidden;
    will-change: transform;
  }
  .background-inner{
    background-color: var(--color-accent);
    position: absolute;
    white-space: nowrap;
    height: 100%;
    width: 100%;
    top: 100%;
    z-index: 1;
  }
    
@media (hover:hover){
  /* Menu Large Links */
  .menu-link:hover .menu-link-heading{
    transform: translate(0px, -1em);
    transition-delay: 0.1s; }
  .menu-link:hover .menu-link-bg{
    transform: scale(1,1) 
  }
    ul:hover .read-text{
    transform: translateX(0);
  }
    /* ul:hover .background{
      top: 0;
    } */
}

/* Review Modal Slide In Styles */
@keyframes overlayShow {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slideInRight {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.44); /* roughly var(--black-a9) */
  animation: overlayShow 0.4s cubic-bezier(0.83, 0, 0.17, 1);
}

.modal-content-slide {
  animation: slideInRight 0.4s cubic-bezier(0.83, 0, 0.17, 1);
  box-shadow: -10px 0 30px 0.4s cubic-bezier(0.83, 0, 0.17, 1) rgba(0,0,0,0.1);
}