@import "tailwindcss";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Satoshi", "Inter", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

@font-face {
  font-family: "Satoshi";
  src: url("/fonts/Satoshi-Variable.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

.font-instrument {
  font-family: "Instrument Serif", serif;
  font-style: italic;
}

@theme {
  --color-yellow-50: oklch(0.98 0.0195 87.51);
  --color-yellow-100: oklch(0.95 0.0535 88.36);
  --color-yellow-200: oklch(0.9 0.1056 87.86);
  --color-yellow-300: oklch(0.83 0.1532 81.16);
  --color-yellow-400: oklch(0.8 0.1599 74.04);
  --color-yellow-500: oklch(0.73 0.1699 59.06);
  --color-yellow-600: oklch(0.63 0.1671 49.15);
  --color-yellow-700: oklch(0.53 0.1572 41.4);
  --color-yellow-800: oklch(0.45 0.1339 39.32);
  --color-yellow-900: oklch(0.4 0.1122 39.22);
  --color-yellow-950: oklch(0.27 0.0786 38.6);

  --color-black-50: oklch(0.97 0 0);
  --color-black-100: oklch(0.93 0 0);
  --color-black-200: oklch(0.86 0 0);
  --color-black-300: oklch(0.76 0 0);
  --color-black-400: oklch(0.63 0 0);
  --color-black-500: oklch(0.53 0 0);
  --color-black-600: oklch(0.48 0 0);
  --color-black-700: oklch(0.43 0 0);
  --color-black-800: oklch(0.39 0 0);
  --color-black-900: oklch(0.36 0 0);
  --color-black-950: oklch(0.22 0 0);

  --color-bg: oklch(0.2103 0.0059 285.89);
  --color-fg:oklch(0.983 0.0195 87.51);
  --color-accent: oklch(0.83 0.1532 81.16);
  --color-secondary: oklch(0.8711 0.0055 286.29);
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-size: var(--size-font);
  /* max-width: var(--size-container); */
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-black-950);
}

::-webkit-scrollbar-thumb {
  background: var(--color-accent);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-yellow-400);
}

/* ------------------------- Scaling System by Osmo [https://osmo.supply/] -------------------------  */
/* Desktop */
:root {
  --size-unit: 16; /* body font-size in design - no px */
  --size-container-ideal: 1440; /* screen-size in design - no px */
  --size-container-min: 992px;
  --size-container-max: 1920px;
  --size-container: clamp(
    var(--size-container-min),
    100vw,
    var(--size-container-max)
  );
  --size-font: calc(
    var(--size-container) / (var(--size-container-ideal) / var(--size-unit))
  );
}
/* Tablet */
@media screen and (max-width: 991px) {
  :root {
    --size-container-ideal: 834; /* screen-size in design - no px */
    --size-container-min: 768px;
    --size-container-max: 991px;
  }
}
/* Mobile Landscape */
@media screen and (max-width: 767px) {
  :root {
    --size-container-ideal: 834; /* screen-size in design - no px */
    --size-container-min: 480px;
    --size-container-max: 767px;
  }
}
/* Mobile Portrait */
@media screen and (max-width: 479px) {
  :root {
    --size-container-ideal: 375; /* screen-size in design - no px */
    --size-container-min: 0px;
    --size-container-max: 479px;
  }
}
/* Nav menu button */
.button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
}

.button .slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.button .slider .el {
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  color: var(--color-bg);
}

.button .slider .el p {
  margin: 0px;
}

.button .slider .el:nth-of-type(2) {
  background-color: var(--color-bg);
}

.button .slider .el:nth-of-type(2) p {
  color: var(--color-fg);
}

.button .slider .el:hover .perspectiveText {
  transform: rotateX(90deg);
}

.button .slider .el:hover .perspectiveText p:nth-of-type(1) {
  transform: translateY(-100%);
  opacity: 0;
}

.button .slider .el:hover .perspectiveText p:nth-of-type(2) {
  opacity: 1;
}

.perspectiveText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.perspectiveText p {
  transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  text-transform: uppercase;
}

.perspectiveText p:nth-of-type(2) {
  position: absolute;
  transform-origin: bottom center;
  transform: rotateX(-90deg) translateY(9px);
  opacity: 0;
}

.header {
  position: fixed;
  right: 40px;
  top: 40px;
}
.header .menu {
  width: 360px;
  height: 400px;
  background-color: var(--color-accent);
  border-radius: 25px;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 40px 50px 40px;
  height: 100%;
  box-sizing: border-box;
}

.nav .body {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.nav .body .linkContainer {
  perspective: 250px;
  perspective-origin: right;
}

.nav .body a {
  text-decoration: none;
  color: var(--color-bg);
  font-size: 2.5em;
  text-transform: uppercase;
}

.nav .footer {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-bg);
}

.nav .footer li {
  width: 50%;
  margin-top: 5px;
}

.underline-link {
  position: relative;
}

.underline-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--color-bg);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
}

.underline-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}



.image-holder{
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.image-holder img{
  height: 150%;
  width: 100%;
  object-fit: cover;
}



.cursor {
	position: fixed;
	left: 0;
	top: 0;
	width: 14rem;
	height: 14rem;
    overflow: hidden;
	z-index: 11;
    pointer-events: none;
}

.cursor__holder {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.cursor__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--color-accent);
	border-radius: 50%;
    scale: 0.1;
    transition: all .3s ease-in-out 0s;
}

.cursor__bg2 {
	background: var(--white);
    scale: 0;
}

.cursor__text {
	position: absolute;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
  overflow: hidden;
}

.button .slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.button .slider .el {
  width: 100%;
  height: 100%;
  background-color: var(--color-accent);
  color: var(--color-bg);
}

.button .slider .el p {
  margin: 0px;
}

.button .slider .el:nth-of-type(2) {
  background-color: var(--color-bg);
}

.button .slider .el:nth-of-type(2) p {
  color: var(--color-fg);
}

.button .slider .el:hover .perspectiveText {
  transform: rotateX(90deg);
}

.button .slider .el:hover .perspectiveText p:nth-of-type(1) {
  transform: translateY(-100%);
  opacity: 0;
}

.button .slider .el:hover .perspectiveText p:nth-of-type(2) {
  opacity: 1;
}

.perspectiveText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.perspectiveText p {
  transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  text-transform: uppercase;
}

.perspectiveText p:nth-of-type(2) {
  position: absolute;
  transform-origin: bottom center;
  transform: rotateX(-90deg) translateY(9px);
  opacity: 0;
}

.header {
  position: fixed;
  right: 40px;
  top: 40px;
}
.header .menu {
  width: 360px;
  height: 400px;
  background-color: var(--color-accent);
  border-radius: 25px;
  position: relative;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 40px 50px 40px;
  height: 100%;
  box-sizing: border-box;
}

.nav .body {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.nav .body .linkContainer {
  perspective: 250px;
  perspective-origin: right;
}

.nav .body a {
  text-decoration: none;
  color: var(--color-bg);
  font-size: 2.5em;
  text-transform: uppercase;
}

.nav .footer {
  display: flex;
  flex-wrap: wrap;
  color: var(--color-bg);
}

.nav .footer li {
  width: 50%;
  margin-top: 5px;
}

.underline-link {
  position: relative;
}

.underline-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--color-bg);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s cubic-bezier(0.83, 0, 0.17, 1);
}

.underline-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}



.image-holder{
  overflow: hidden;
  display: flex;
  align-items: center;
  position: relative;
}

.image-holder img{
  height: 150%;
  width: 100%;
  object-fit: cover;
}



.cursor {
	position: fixed;
	left: 0;
	top: 0;
	width: 14rem;
	height: 14rem;
    overflow: hidden;
	z-index: 11;
    pointer-events: none;

}

.cursor__holder {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

.cursor__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--color-accent);
	border-radius: 50%;
    scale: 0.1;
    transition: all .3s ease-in-out 0s;
}

.cursor__bg2 {
	background: var(--white);
    scale: 0;
}

.cursor__text {
	position: absolute;
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	letter-spacing: -0.05rem;
    opacity: 0;
    transition: all .2s ease-in-out 0s;
}

.cursor__arrow {
	position: absolute;
	width: 2.75rem;
    transform: translateX(-4rem);
    transition: all .2s ease-in-out 0s;
    opacity: 0;
}

.cursor.option1 .cursor__bg{
  scale: 1;
}
.cursor.option1 .cursor__text{
  opacity: 1;
}